.pane {
  padding: 5px;
  > div {
    margin: 30px 5px 5px 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 14%), 0 3px 1px -2px rgba(0, 0, 0, 20%),
      0 1px 5px 0 rgba(0, 0, 0, 12%);
    border-radius: 3px;
    background: #fff;
    height: 100%;
  }
  .Pieces {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  h2 {
    align-self: center;
  }
  .pane-header {
    background: linear-gradient(to bottom, #f5f5f5 0%, #ededed 100%);
  }
  &:first-child {
    justify-content: center;
  }
  .card {
    width: 100%;
    height: 100%;
    .card-body {
      text-align: justify;
      min-height: 60vh;
      max-height: 60vh;
      overflow: scroll;
      overflow-x: hidden;
    }
    .card-footer {
      height: 100%;
      justify-content: space-evenly;
    }
  }
}
.setup-button {
  width: 50%;
}
.piece-rank {
  color: red;
}
.piece-name {
  font-weight: bolder;
}
