.piece {
  width: 2.8vw;
  height: 2.8vw;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.piece.WHITE {
  border-color: black;
  background-color: white;
  color: black;
}
.piece.BLACK {
  border-color: gray;
  background-color: black;
  color: #f3f3f3;
}
.captured-pieces-container {
  display: flex;
  margin-bottom: 10px;
  max-width: max-content;
  flex-wrap: wrap;
  .captured-piece {
    margin: 0 3px;
  }
}
@media (max-width: 768px) {
  .piece {
    width: 6vw;
    height: 6vw;
    > span {
      font-size: 55%;
    }
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .piece {
    width: 6vw;
    height: 6vw;
    > span {
      font-size: 95%;
    }
  }
}
@media (min-width: 1201px) {
  .piece {
    > span {
      font-size: 45%;
    }
  }
}
